{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "settings": {
    "ecmascript": 6,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": 1,
    "no-cond-assign": 2,
    "no-console": 0,
    "no-constant-condition": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty": 1,
    "no-empty-character-class": 1,
    "no-ex-assign": 2,
    "no-extra-semi": 1,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unexpected-multiline": 1,
    "no-unreachable": 1,
    "use-isnan": 1,
    "valid-jsdoc": 1,
    "valid-typeof": 2,

    "accessor-pairs": 1,
    "array-callback-return": 2,
    "block-scoped-var": 1,
    "complexity": 1,
    "consistent-return": 2,
    "curly": 2,
    "dot-location": ["error", "property"],
    "dot-notation": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "no-alert": 1,
    "no-caller": 1,
    "no-case-declarations": 0,
    "no-div-regex": 2,
    "no-else-return": 1,
    "no-empty-function": 1,
    "no-empty-pattern": 2,
    "no-eq-null": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-extra-bind": 1,
    "no-extra-label": 1,
    "no-fallthrough": 1,
    "no-floating-decimal": 1,
    "no-implicit-globals": 0,
    "no-invalid-this": 2,
    "no-iterator": 1,
    "no-labels": 1,
    "no-lone-blocks": 1,
    "no-loop-func": 2,
    "no-multi-spaces": 1,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new": 1,
    "no-new-func": 1,
    "no-new-wrappers": 1,
    "no-octal": 2,
    "no-octal-escape": 2,
    "no-param-reassign": 2,
    "no-proto": 2,
    "no-redeclare": 1,
    "no-return-assign": 1,
    "no-self-assign": 1,
    "no-self-compare": 1,
    "no-sequences": 2,
    "no-throw-literal": 1,
    "no-unmodified-loop-condition": 2,
    "no-unused-expressions": 1,
    "no-unused-labels": 1,
    "no-useless-call": 1,
    "no-useless-concat": 1,
    "no-useless-escape": 1,
    "no-void": 1,
    "no-with": 2,
    "radix": 2,
    "vars-on-top": 2,
    "no-delete-var": 1,
    "no-label-var": 2,
    "no-restricted-globals": 1,
    "no-shadow": 2,
    "no-shadow-restricted-names": 2,
    "no-undef": 2,
    "no-unused-vars": 1,
    "no-use-before-define": 2,
    "no-mixed-requires": 2,
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-env": 2,
    "no-process-exit": 2,
    "array-bracket-spacing": ["error", "always", { "singleValue": false }],
    "camelcase": 2,

    // ES6
    "arrow-body-style": ["error", "always"],
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "constructor-super": 2,
    "no-class-assign": 2,
    "no-confusing-arrow": 2,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "no-duplicate-imports": 2,
    "no-new-symbol": 2,
    "no-this-before-super": 2,
    "no-useless-constructor": 2,
    "no-var": 2,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-rest-params": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
  }
}
